@model FluentDisplayProperties.Demo.ViewModels.ExampleViewModel

@{
    Layout = null;
}

<div>@Html.LabelFor(x => x.FullName)</div>
<div>@Html.LabelFor(x => x.Address1)</div>
<div>@Html.LabelFor(x => x.Address2)</div>